.navbar-outer-container{
    background-color: var(--color-secondary);
    padding: 16px 0;
}

.inner-nav-container{
    flex-basis: 1400px;
    flex-shrink: 1;
    flex-grow: 0;
    margin: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.main-navigation-logo-button {
    background-color: transparent;
    border: none;
    max-width: 200px;
}

.logo-small {
    max-width: 10%;
}

.nav {
    list-style: none;
    flex-basis: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav .active-menu-link{
    text-decoration: underline;
    color: var(--color-primary);
    font-weight: 600;
}

.nav .default-menu-link{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.nav .active-menu-link:hover,
.nav .default-menu-link:hover{
    color: var(--color-primary);
}
